__pycache__
venv
.pytest_cache
bazel-bin
bazel-out
bazel-testlogs
bazel-*
*.log
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe
*.egg-info
*.egg
*.dist-info
*.egg-info
*.egg
*.dist-info
*.egg-info
*.egg
*.dist-info
*.egg-info
*.egg
*.dist-info
*.egg-info
*.egg
*.dist-info
*.egg-info
*.egg
*.dist-info
*.egg-info
*.egg
*.dist-info
*.egg-info
*.egg
*.dist-info
*.egg-info
*.egg
*.dist-info
*.egg-info
*.egg
*.dist-info
*.egg-info
*.egg
*.dist-info
*.egg-info
*.egg
*.dist-info
*.egg-info
*.egg
*.dist-info
*.egg-info
*.egg
*.dist-info
*.egg-info
*.egg
*.dist-info
*.egg-info
*.egg
*.dist-info
*.egg-info
*.egg
*.dist-info
*.egg-info
*.egg
*.dist-info     
*.DS_Store
